@model Error_Collage.Models.Faculty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Faculty</h4>
    <hr />
    <dl class="detaildiv">
        dl class="dl-horizontal">
        <dt class="footer2">
            @Html.DisplayNameFor(model => model.FacultyName)
        </dt>

        <dd class="detail">
            @Html.DisplayFor(model => model.FacultyName)
        </dd>

        <dt class="detail">
            @Html.DisplayNameFor(model => model.TeachingFeild)
        </dt>

        <dd class="footer2">
            @Html.DisplayFor(model => model.TeachingFeild)
        </dd>

        <dt class="footer2">
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>

        <dd class="detail">
            @Html.DisplayFor(model => model.Qualification)
        </dd>

        <dt class="detail">
            @Html.DisplayNameFor(model => model.Deccription)
        </dt>

        <dd class="footer2">
            @Html.DisplayFor(model => model.Deccription)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FacultyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
