@model Error_Collage.Models.Faculty

@{
    ViewBag.Title = "Details";
}

<div class="detailbutton">

    <p>

    </p>

    <button> <mark> <a href="/Modules/Index">Modules</a> </mark></button>

</div>
<center>  <h1 class=" detailtitlediv">  @Html.DisplayFor(model => model.FacultyName) </h1> </center>



<div class="detaildiv">
    <center>

        <h4>

            <dl class="dl-horizontal">
                <dt class="footer2">
                    @Html.DisplayNameFor(model => model.FacultyName)
                </dt>

                <dd class="detail">
                    @Html.DisplayFor(model => model.FacultyName)
                </dd>

                <dt class="detail">
                    @Html.DisplayNameFor(model => model.TeachingFeild)
                </dt>

                <dd class="footer2">
                    @Html.DisplayFor(model => model.TeachingFeild)
                </dd>

                <dt class="footer2">
                    @Html.DisplayNameFor(model => model.Qualification)
                </dt>

                <dd class="detail">
                    @Html.DisplayFor(model => model.Qualification)
                </dd>

                <dt class="detail">
                    @Html.DisplayNameFor(model => model.Deccription)
                </dt>

                <dd class="footer2">
                    @Html.DisplayFor(model => model.Deccription)
                </dd>

            </dl>
        </h4>
    </center>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FacultyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
