@model IEnumerable<Error_Collage.Models.Course>

@{
    ViewBag.Title = "Index";
}
<div class="adtleft">
    <img scr="https://images.app.goo.gl/gv7QFAdbKn3bqfhTA" width="150" height="300" alt="Advertisement">
</div>
<div class="adtright">
    <img scr="https://images.app.goo.gl/wYmATVibGkzi8X51A" width="150" height="300" alt="Advertisement">
</div>

<center>
    <h1 class="footer2" margin-top="70px">Courses</h1>

    <p >
        @Html.ActionLink("Create New", "Create",  new { @class="detail"})
    </p>
</center>
<table class="table">
    <tr class="detail">
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseFeildType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faculty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th></th>
    </tr>

<<<<<<< Updated upstream
@foreach (var item in Model) {
    <tr>
        <td >
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseFeildType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faculty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseId })
        </td>
    </tr>
}
=======
    @foreach (var item in Model)
    {
        <tr class="courseindex">
            <td style="background-color:#efd1f0">
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td style="background-color:lightyellow ">
                @Html.DisplayFor(modelItem => item.CourseCode)
            </td>
            <td style="background-color: #b7edf7">
                @Html.DisplayFor(modelItem => item.CourseFeildType)
            </td>
            <td style="background-color:#efd1f0 ">
                @Html.DisplayFor(modelItem => item.CourseType)
            </td>
            <td style="background-color:lightyellow">
                @Html.DisplayFor(modelItem => item.Faculty)
            </td>
            <td style="background-color: #b7edf7">
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td>


                @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |


            </td>
        </tr>
    }
>>>>>>> Stashed changes

</table>
