@model IEnumerable<Error_Collage.Models.Course>

@{
    ViewBag.Title = "Index";
}
<div class="adtleft">
    <img scr="https://images.app.goo.gl/gv7QFAdbKn3bqfhTA" width="150" height="300" alt="Advertisement">
</div>
<div class="adtright">
    <img scr="https://images.app.goo.gl/wYmATVibGkzi8X51A" width="150" height="300" alt="Advertisement">
</div>

<center>
    <h1 class="footer2" margin-top="70px">Courses</h1>

    <p class="newdiv">
        @Html.ActionLink("Create New", "Create")
    </p>
</center>
<table class="table">
    <tr class="detail">
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseFeildType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faculty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="courseindex">
            <td style="background-color:#c8f2a5">
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td style="background-color:lightyellow ">
                @Html.DisplayFor(modelItem => item.CourseCode)
            </td>
            <td style="background-color: #c9c9c9">
                @Html.DisplayFor(modelItem => item.CourseFeildType)
            </td>
            <td style="background-color:#c8f2a5 ">
                @Html.DisplayFor(modelItem => item.CourseType)
            </td>
            <td style="background-color:lightyellow">
                @Html.DisplayFor(modelItem => item.Faculty)
            </td>
            <td style="background-color: #c9c9c9">
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td>


                @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |


            </td>
        </tr>
    }

</table>
